*.pyc
*.vcd
*.fst
*results.xml
*sim_build/
*.ipynb_checkpoints/
.vscode/
*_tb
*__pycache__
*_dep/
*_ipx/
*_autogen/
soc/marble_zest/*/*.o
*.elf
*.map
*.hex
*.bin
*.bit
*.prm
*_xilinx/
*webtalk*.jou
*webtalk*.log
*xsim.dir/
*xsim.jou
*xelab.pb
*xvlog.pb
*pico.trace
*.egg-info/
llrf_dsp/cordicg_b22.v
llrf_dsp/tests/*/cordicg_b22.v
llrf_dsp/llrf_shell_expand.v
llrf_dsp/llrf_shell_init_regs.json
llrf_dsp/llrf_shell_tb
llrf_dsp/llrf_shell.json
llrf_dsp/_autogen/addr_map_llrf_shell.vh
soc/marble_zest/*/init_llrf.c
soc/marble_zest/*/llrf_regs_addr.h
soc/marble_zest/*/marble_regs_addr.h
soc/marble_zest/common/llrf/llrf.o
marble_bsp/construct_tx_table.v
marble_bsp/rtefi_blob.v
marble_bsp/rtefi_preblob.vh
marble_bsp/marble_bsp_expand.v
top/marble_zest/top.xdc
top/marble_zest/system_top.xdc
soc/marble_zest/synth/system_expand.v
soc/marble_zest/*/system32.dat
soc/marble_zest/synth/zest_fmc_dp.xdc
soc/marble_zest/synth/zest_pinmap.txt
marble_bsp/marble_bsp.json
top/marble_zest/config_romx.v
top/marble_zest/marble_zest_top.d
top/marble_zest/marble_zest.json
top/marble_zest/bit_stamp_mod
llrf_dsp/tests/llrf/cordicg_b22.v
