litex/build/
*.pyc
*.vcd
*csr.csv
.vscode/
litex/firmware/firmware.bin
litex/firmware/firmware.elf
litex/firmware/*.map
litex/firmware/*.d
litex/firmware/*.o
litex/prog/bscan_spi*.bit
litex/prog/openocd_xc7*.cfg
litex/prog/openocd_marblemini.cfg
litex/update.sh
llrf_dsp/_autogen/
llrf_dsp/_dep/
llrf_dsp/cordicg_b22.v
llrf_dsp/llrf_shell.json
llrf_dsp/llrf_shell_init_regs.json
llrf_dsp/llrf_shell_expand.v
soc/marble_zest/common/*/*.o
soc/marble_zest/synth/*.o
soc/marble_zest/synth/zest_fmc_dp.xdc
soc/marble_zest/synth/system32.dat
soc/marble_zest/synth/system.elf
soc/marble_zest/synth/system.map
top/marble_zest/top.xdc
soc/marble_zest/synth/system_expand.v
soc/marble_zest/synth/zest_pinmap.txt
top/marble_zest/marble_zest_top.bin
top/marble_zest/marble_zest_top.bit
top/marble_zest/marble_zest_top.prm
top/marble_zest/system_top.xdc
top/marble_zest/_xilinx/
udp_rgmii/construct_tx_table.v
udp_rgmii/rtefi_blob.v
udp_rgmii/rtefi_preblob.vh
udp_rgmii/udp_rgmii_expand.v
udp_rgmii/_dep/
soc/marble_zest/synth/init_llrf.c
soc/marble_zest/synth/llrf_regs_addr.h
soc/marble_zest/synth/system32.hex
llrf_dsp/llrf_shell_tb
