litex/build/
*.pyc
*.vcd
*csr.csv
.vscode/
litex/firmware/firmware.bin
litex/firmware/firmware.elf
litex/firmware/*.map
litex/firmware/*.d
litex/firmware/*.o
litex/prog/bscan_spi*.bit
litex/prog/openocd_xc7*.cfg
litex/prog/openocd_marblemini.cfg
litex/update.sh
*_dep/
*_autogen/
soc/marble_zest/*/*.o
*.elf
*.map
*.hex
*.bin
*.bit
*.prm
*_xilinx/
llrf_dsp/cordicg_b22.v
llrf_dsp/llrf_shell_expand.v
llrf_dsp/llrf_shell_init_regs.json
llrf_dsp/llrf_shell_tb
llrf_dsp/llrf_shell.json
llrf_dsp/_autogen/addr_map_llrf_shell.vh
soc/marble_zest/synth/init_llrf.c
soc/marble_zest/synth/llrf_regs_addr.h
soc/marble_zest/common/llrf/llrf.o
udp_rgmii/construct_tx_table.v
udp_rgmii/rtefi_blob.v
udp_rgmii/rtefi_preblob.vh
udp_rgmii/udp_rgmii_expand.v
top/marble_zest/top.xdc
top/marble_zest/system_top.xdc
