adapter driver ftdi

# Default for FT4232H
ftdi vid_pid 0x0403 0x6011
ftdi channel 0

# Just TCK TDI TDO TMS, all other pins driven high.
# Not sure what controls DBUS banks C, D, and maybe even B.
ftdi layout_init 0xfff8 0xfffb
reset_config none

# kHz
adapter speed 15000

source [find cpld/xilinx-xc7.cfg]
source [find cpld/jtagspi.cfg]

proc fpga_program {} {
    global _CHIPNAME
    xc7_program $_CHIPNAME.tap
}
